.footer-bg {
  background-image: linear-gradient(var(--purple), var(--light-red));
}

#navbar-copy {
  background-color: #040404;
}

.btnSocialMedia {
  background-color: #1c1c1c;
  border-color: #1c1c1c;
  border-width: 1px;
}

.iconLinkTwitter:hover {
  background-image: linear-gradient(var(--blue), #034c99);
  color: var(--white);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.iconLinkMail:hover {
  background-image: linear-gradient(var(--red), var(--dark-red));
  color: var(--white);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.iconLinkInsta:hover {
  background-image: linear-gradient(var(--light-red), var(--purple));
  color: var(--white);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.iconLinkFace:hover {
  background-image: linear-gradient(var(--blue), var(--dark-blue));
  color: var(--white);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.iconSocialMedia {
  color: var(--light-red);
  background-color: var(--white);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.mail:hover{
  text-decoration: underline #FFFFFF;
}