.maincontent {
  padding-left: 100px;
  padding-right: 100px;
}

.homeContent {
  padding-bottom: 60vh;
}

.textStore {
  margin-right: 100px;
}

.imgStore {
  transition: 1s;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.imgStore:hover {
  transition: 1s;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.number_location{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .imgStore {
    display: none;
  }

  .maincontent {
    padding-left: 100px;
    padding-right: 100px;
  }

  .textStore {
    margin-right: 0px;
  }
}
@media screen and (max-width: 500px) {
  .imgStore {
    display: none;
  }

  .maincontent {
    padding-left: 50px;
    padding-right: 50px;
  }

  .textStore {
    margin-right: 0px;
  }
}
@media screen and (max-width: 300px) {
  .imgStore {
    display: none;
  }

  .maincontent {
    padding-left: 50px;
    padding-right: 50px;
  }

  .textStore {
    margin-right: 0px;
  }
  .divider{
    display: none;
  }
  .number_location{
    display: flex;
    flex-direction: column;
  }
  .contentStore{
    padding: 5px;
  }
}
