.content{
    background-image: linear-gradient(#723ea27c, #eb1b3d7c);
    margin-bottom: 10vh;
    height: 40vh;
}

.iconLink{
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.iconLink:hover{
    background-image: linear-gradient(#723ea2, #eb1b3d);
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.medias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .medias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}