.content{
    background-image: linear-gradient(170deg,var(--purple-transparent), var(--light-redTransparent));
    margin-bottom: 10vh;
    height: 40vh;
}

.iconLink{
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.iconLinkTwitter:hover{
    background-image: linear-gradient(var(--blue), #034c99);
}

.iconLinkMail:hover{
    background-image: linear-gradient(var(--red), var(--dark-red));
    
}
.iconLinkInsta:hover{
    background-image: linear-gradient(var(--light-red),var(--purple));
    
}
.iconLinkFace:hover{
    background-image: linear-gradient(var(--blue), var(--dark-blue));
    
}

.medias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .medias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}