#navbar-copy{
    background-color: #040404;
}

#btnSocialMedia{
    background-color: #1C1C1C;
    border-color: #1C1C1C;
    border-width: 1px;
}
#btnSocialMedia:hover{
    background-color: #FFFFFF;
    color: #000000;
    border-color: #1C1C1C;
    border-width: 1px;
}


/*    ::-moz-selection { // Code for Firefox
        color: rgba(26, 26, 25, 0.623);
        background: rgba(255, 255, 255, 0.623);
      }
      
      ::selection {
        color: rgba(26, 26, 25, 0.623);
        background: rgba(255, 255, 255);
      }
*/