.footer-bg{
  background-image: linear-gradient(#723ea2, #eb1b3d);
}

#navbar-copy {
  background-color: #040404;
}

.btnSocialMedia {
  background-color: #1c1c1c;
  border-color: #1c1c1c;
  border-width: 1px;
}
.btnSocialMedia:hover {
  background-color: #eb1b3d;
  color: #723ea2;
  border-color: #1c1c1c;
  border-width: 1px;
}

.iconSocialMedia {
  background-color: #eb1b3d;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.iconSocialMedia:hover {
  background-color: #ffffff;
  transition: 0.5s;
  color: #723ea2;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}