.footer-bg{
  background-image: linear-gradient(var(--purple), var(--light-red));
}

#navbar-copy {
  background-color: #040404;
}

.btnSocialMedia {
  background-color: #1c1c1c;
  border-color: #1c1c1c;
  border-width: 1px;
}
.btnSocialMedia:hover {
  background-color: var(--light-red);
  color: var(--purple);
  border-color: #1c1c1c;
  border-width: 1px;
}

.iconSocialMedia {
  background-color: var(--light-red);
  color: var(--white);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.iconSocialMedia:hover {
  background-color: var(--white);
  transition: 0.5s;
  color: var(--purple);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}